<div class="dashboard-container">
  <!-- Carrusel de imágenes -->
  <div class="carousel-container">
    <div class="carousel-wrapper">
      <button class="carousel-btn prev" (click)="previousSlide()">&lt;</button>
      
      <div class="carousel-slides">
        <div 
          *ngFor="let image of images; let i = index" 
          class="carousel-slide"
          [class.active]="i === currentSlide">
          <img [src]="image.url" [alt]="image.alt">
        </div>
      </div>
      
      <button class="carousel-btn next" (click)="nextSlide()">&gt;</button>
    </div>
    
    <div class="carousel-indicators">
      <button 
        *ngFor="let image of images; let i = index"
        class="indicator"
        [class.active]="i === currentSlide"
        (click)="goToSlide(i)">
      </button>
    </div>
  </div>
</div>
